{% extends 'base/base.html' %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>USUARIOS REGISTRADOS</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:usuarios_crear' %}" >Registrar Usuario</a>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>USERNAME</th>
                <th>NOMBRE DEL USUARIO</th>
                <th>APELLIDOS DEL USUARIO </th>
            </tr>
        </thead>
        <tbody>
            {% for c in usuarios%}
            <tr>
                <td>{{ c.username }}</td>
                <td>{{ c.first_name}}</td>
                <td>{{ c.last_name}}</td>
                <td>
                     <a href="{% url 'espicourts:usuario_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:usuarios_actualizar' c.id %}" button class="btn btn-primary"> Actualizar</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:usuarios_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}}