{% extends 'base/base.html' %}
{% block title %}Listar partidos - torneos{% endblock %}
{% block fondopantalla %}{% endblock %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>LISTADO DE LOS PARTIDOS RELACIONADOS AL TORNEO:  {{ detalle_torneo_partido.torneo.id}} {{ detalle_torneo_partido.torneo.estado_torneo}}</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:torneo_partido_crear' %}" >Registrar Partido Al Torneo</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th># Torneo</th>
                <th># Partido</th>
            </tr>
        </thead>
        <tbody>
            {% for c in torneos_partidos%}
            <tr>
                <td>{{ c.torneo.nombre_torneo }}</td>
                <td>{{ c.partido.id}}</td>
                <td>
                     <a href="{% url 'espicourts:torneo_partido_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:torneo_partido_actualizar' c.id %}" button class="btn btn-primary"> Actualizar</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:torneo_partido_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{% url 'espicourts:torneos_listar' %}" button class="btn btn-success"> Listar torneos</a>
</div>
{% endblock%}