{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extrastatic %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <title>{%block title%} Title {% endblock %}</title>
<!--este se usa para agregar nuetros link de las distintas librerias-->

    {% block fondopantalla %}
    <style>
    html {
        height:100%;
        width:100%;
    }
    body{
        background:white url("../../static/images/cancha_sintetica.jpg") no-repeat center center;
        background-size:100% 100%;
    }
    </style>
    {% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'espicourts:index' %}" class="navbar-brand">
                <img src="../../static/images/espicourts-logo-mini.png" style="margin-top:-10px;"></a>
        </div>
        <ul class="nav navbar-nav navbar-static-top">
            <li><a href="{%  url 'espicourts:usuarios_listar' %}">Usuarios</a></li>
            <li><a href="{%  url 'espicourts:jugadores_listar' %}">Jugadores</a></li>
            <li><a href="{% url 'espicourts:equipos_listar' %}">Equipos</a></li>
            <li><a href="{% url 'espicourts:canchas_listar' %}">Canchas</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Partidos <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menubar">
                    <li><a href="{% url 'espicourts:partidos_listar' %}">Partidos</a></li>
                    <li><a href="{% url 'espicourts:eventos_listar' %}">Eventos del partido</a></li>
                </ul>
            </li>
            <li><a href="{% url 'espicourts:torneos_listar' %}">Torneos</a></li>
            <li><a href="{% url 'espicourts:reservas_listar' %}">Reservas</a></li>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.get_username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'password_reset' %}">Cambiar Contraseña</a></li>
                    <li><a href="{% url 'salir' %}">Salir</a></li>
                </ul>
             </li>
        </ul>
    </div>
</nav>
<div class="container">
{% endblock %}
<!--bloque para el header-->
    {% block header %}
    {% endblock %}
<!--bloque para el contenido que es renderizado-->
    {% block content %}
    {% endblock %}
<!--bloque para el footer-->
    {% block footer %}
    <footer class="container-fluid text-center bg-lightgray">
        <div class="copyrights" style="margin-top:25px;">
            <p>ESPICOURTS © 2017, All Rights Reserved
                <br>
                <span>Web Design By: Los propios</span></p>
        </div>
    </footer>
    {% endblock %}
<!--bloque para el las libreias extra necesarias-->
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extrajs %}
{% endblock %}
</body>
</html>