{% extends 'base/base.html' %}
{% block title %}Contraseña recuperada correctamente{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="panel panel-primary" align="center">
    <h3>CAMBIO DE CONTRASEÑA EXITOSO</h3>
</div>
<div class="row" align="center">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <h3><label for="usuario">¡¡¡ Felicitaciones ,
            su contraseña ha sido cambiada correctamente!!!</label></h3>
        </div>
    </div>
</div>
<div class="row" align="center">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <a href="{% url 'login' %}" button class="btn btn-primary"> Iniciar sesion</a>
        </div>
    </div>
</div>
{% endblock %}