{% extends 'base/base.html' %}
{% block title %}Confirmar recuperacion contraseña{% endblock %}
{% block fondopantalla %}{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
{% if validlink %}
<div class="panel panel-primary" align="center">
    <h3>CAMBIAR CONTRASEÑA</h3>
</div>
<form method="post">
{% csrf_token %}
{{ form.new_password1.errors }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="username">Nueva contraseña</label>
            <input class="form-control" type="password" name="new_password1">
        </div>
    </div>
</div>
{{ form.new_password2.errors }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="username">Nueva contraseña</label>
            <input class="form-control" type="password" name="new_password2">
        </div>
    </div>
</div>
<!--<label for="id_new_password1">Nueva contraseña : </label>
{{ form.new_password1 }}
<label for="id_new_password2">Nueva contraseña : </label>
{{ form.new_password2 }}
-->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
        </div>
    </div>
</div>
<!--<input type="submit" value="Cambiar contraseña"/>-->
</form>
{% else %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="username">Elace invalido : Este enlace ya ha sido usado </label>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}