{% extends 'base/base.html' %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>CANCHAS REGISTRADAS</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:canchas_crear' %}" >Registrar Cancha</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Cancha</th>
                <th>Direccion </th>
            </tr>
        </thead>
        <tbody>
            {% for c in canchas%}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre_cancha }}</td>
                <td>{{ c.direccion_cancha}}</td>
                <td>
                     <a href="{% url 'espicourts:canchas_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:canchas_actualizar' c.id %}" button class="btn btn-primary"> Actualizar</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:canchas_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}