{% extends 'base/base.html' %}
{% block title %}Listar reservas{% endblock %}
{% block fondopantalla %}{% endblock %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>RESERVAS</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:reservas_crear' %}" >Registrar Reserva</a>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>USUARIO</th>
                <th>CANCHA</th>
                <th>FECHA </th>
                <th>HORA INICIO</th>
                <th>HORA FINAL</th>
                <th>ESTADO DE LA RESERVA</th>
            </tr>
        </thead>
        <tbody>
            {% for c in reservas%}
            <tr>
                <td>{{ c.usuario.get_full_name }} </td>
                <td>{{ c.cancha.nombre_cancha}}</td>
                <td>{{ c.fecha_reserva}}</td>
                <td>{{ c.hora_inicio}}</td>
                <td>{{ c.hora_final}}</td>
                <td>{{ c.get_estado_reserva_display}}</td>
                <td>
                     <a href="{% url 'espicourts:reserva_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:reservas_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% endif %}

        </li>

    </ul>
</div>
{% endblock%}}