{% extends 'base/base.html' %}
{% block title %}Torneos{% endblock %}
{% block fondopantalla %}{% endblock %}
{% block content %}
<div class="panel panel-primary" align="center">
    <h3>TORNEOS</h3>
</div>
<div class="form-horizontal">
    <form method="post">
        {% csrf_token %}
       {{ torneo_form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary ">Guardar</button>
        <a href="{% url 'espicourts:torneos_listar' %}" button class="btn btn-success"> Listar Torneos</a>
    </form>
</div>
{% endblock %}