{% extends 'base/base.html' %}
{% block title %}Detalle jugador{% endblock %}
{% block fondopantalla %}{% endblock %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>DETALLE:  {{ detalle_jugador.usuario.first_name }} {{ detalle_jugador.usuario.last_name }}</h3>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>TIPO DE IDENTIFICACION</td>
                <td>{{ detalle_jugador.tipo_identifcacion }}</td>
            </tr>
            <tr>
                <td># IDENTIFICACION</td>
                <td>{{ detalle_jugador.identificacion}}</td>
            </tr>
            <tr>
                <td>NOMBRES</td>
                <td>{{ detalle_jugador.usuario.first_name }}</td>
            </tr>
            <tr>
                <td>APELLIDOS</td>
                <td>{{ detalle_jugador.usuario.last_name }}</td>
            </tr>
            <tr>
                <td>SEXO</td>
                <td>{{ detalle_jugador.sexo}}</td>
            </tr>
            <tr>
                <td>EDAD</td>
                <td>{{ detalle_jugador.edad }}</td>
            </tr>
            <tr>
                <td>TELEFONO</td>
                <td>{{ detalle_jugador.telefono }}</td>
            </tr>
            <tr>
                <td>PERFIL DEL JUGADOR</td>
                <td>{{ detalle_jugador.perfil }}</td>
            </tr>
            <tr>
                <td>EQUIPO</td>
                <td>{{ detalle_jugador.equipo.nombre_equipo }}</td>
            </tr>
            <tr>
                <td>USUARIO DEL SISTEMA</td>
                <td>{{ detalle_jugador.usuario.username }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'espicourts:jugadores_listar' %}" button class="btn btn-success"> Listar Jugadores</a>
</div>
{% endblock %}
