{% extends 'base/base.html' %}
{% block title %}Listar jugadores{% endblock %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>JUGADORES REGISTRADOS</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:jugadores_crear' %}" >Registrar Jugador</a>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Nombres</th>
                <th>Apellidos </th>
            </tr>
        </thead>
        <tbody>
            {% for c in jugadores%}
            <tr>
                <td>{{ c.identificacion }}</td>
                <td>{{ c.usuario.first_name }}</td>
                <td>{{ c.usuario.last_name}}</td>
                <td>
                     <a href="{% url 'espicourts:jugador_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:jugadores_actualizar' c.id %}" button class="btn btn-primary"> Actualizar</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:jugadores_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}