{% extends 'base/base.html' %}
{% block  content%}
<div class="panel panel-primary" align="center">
    <h3>PARTIDOS</h3>
</div>
<a class="btn btn-primary " href="{% url 'espicourts:partidos_crear' %}" >Registrar Partido</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha Programada</th>
                <th>Hora de inicio </th>
                <th>Estado del partido </th>
            </tr>
        </thead>
        <tbody>
            {% for c in partidos%}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.fecha_partido}}</td>
                <td>{{ c.hora_inicio}}</td>
                <td>{{ c.estado_partido}}</td>
                <td>
                     <a href="{% url 'espicourts:partidos_detalle' c.id %}" button class="btn btn-success"> Detalle</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:partidos_actualizar' c.id %}" button class="btn btn-primary"> Actualizar</a>
                </td>
                <td>
                     <a href="{% url 'espicourts:partidos_eliminar' c.id %}" button class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}